.question-list-wrapper
  flex-grow: 1
  overflow: hidden
  padding: 1rem
  .question-list
    list-style: none
    padding: 0
    margin: 0
    font-size: .85rem
    .question-list-item
      margin-bottom: 1.5rem
      .title
        color: #525557
        font-weight: 700
        margin-bottom: .2rem
      .answer
        color: #515456
        margin: 0
        word-wrap: break-word
        word-break: break-all