.text-list-wrapper
  flex-grow: 1
  position: relative
  overflow: hidden

.text-list
  margin: 0
  list-style: none
  padding-left: 0
  height: 100%
  overflow: scroll
  position: relative
  background-color: #f3f5f8
  -webkit-overflow-scrolling: touch
  .list-item
    margin-top: .15rem
    height: 3.2rem
    line-height: 3.2rem
    background-color: #fff
    color: #4e5053
    font-size: .8rem
    padding-left: 1rem
    transition: background-color .1s
    &:last-child
      margin-bottom: 3rem
