.text-list-wrapper
  flex-grow: 1
  position: relative
  overflow: hidden

.text-list
  display: flex
  flex-direction: column
  margin: 0
  list-style: none
  padding-left: 0
  height: 100%
  overflow: scroll
  position: relative
  -webkit-overflow-scrlling: touch
  .last-list-item
    margin-bottom: 1.5rem
  .list-item, .list-item-header
    $height: 3.2rem
    margin-top: .15rem
    height: $height
    line-height: $height
    background-color: #fff
    color: #4e5053
    font-size: .8rem
    padding-left: 1rem
    transition: background-color .1s
    &.with-margin-bottom:last-child
      margin-bottom: 3rem

  .list-item-header
    $height: 2.8rem
    height: $height
    line-height: $height     
    font-size: .9rem
    font-weight: 600
    margin-top: 1rem
  
  .power
    margin-top: 5.5rem
    position: relative
    flex: 1
    .wrapper
      position: absolute
      bottom: 6rem
      height: 0.8rem
      width: 100%
      text-align: center
      img
        height: 100%
        width: auto
